/* Reset padrão */

*{
 margin: 0;
padding: 0;

box-sizing: border-box;


}

/* Criando uma variavel (podemos criar variaveis para qualquer coisa*/
:root{ 

    --bg-color-container: #b90101;
    --banana: rgb(144, 124, 219);
    --fonte-padrao: Arial;
    --border-header-container:2px solid red;

}

html{
 font-family:var(--fonte-padrao) ; 
}


.container{
    background-color: var(--bg-color-container);
    width: 300px;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
   
}





 .body-container{
    background-color: var(--banana);


 }


.header-container{
    display: flex;
    width: 100vw;
    height: 100px;
    /* background-color: rgb(183, 255, 255); */
   
}

.header-container a {
    display: inline-block;  
    background-color: rgb(127, 223, 223);
    margin-left: 10px;
    margin-top: 10px; 
    font-size: x-large;
    text-decoration:  none;
    padding: 5px; 
    border-radius: 10px; 
     
    
    
}
/* Pseudo classe  que identifica a posição do cursor do mouse*/
.header-container a:hover{
    
    background-color: rgb(134, 99, 175);
    border: 2px solid rgb(118, 82, 148);
    color: #fff;


}

 .Logo{
    display: flex;
    width: 500px;
    height: 100px;
    background-color: rgb(83, 41, 107);
    color: #fff;
    align-items: center;
    justify-content: center;

 }
 
 .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(106, 65, 145);
 }

.section01{
    display: none;
    width:400px ;
    height:  200px; 
    margin: 10px auto;
    padding-left: 20px;
    color: aliceblue;
    background-color:rgb(217, 159, 250) ;
    border: rgb(182, 114, 238) dashed 3px;
    

}


.section01--title{

    margin-bottom: 10px;


}


.Link-lista{
 
 font-size: medium;
 line-height: 30px; 


 }
/* Display none: Não aparece na tels
Display inline: elementos são em linhas e não aceita altura e largura (ocupa apenas o seu espaço)
Display block: elementos são um abaixo do outro e aceita altura e largura (ocupa a linha inteira) 
Display in-line block: elemetos em linha + altura e largura*/

.sumario details{

    border: 2px solid;
    width: 50%;
    margin-left: 25px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.sumario summary{
    background-color: rgb(205, 183, 224);
    color: #fff;
    height: 40px;
}


.sumario p{
    color: rrgb(168, 101, 231);
    background-color: rgb(221, 190, 250);
    line-height: 40px;

}