/* Reset */

*{
    margin: 0;
    padding: 0;

box-sizing: border-box;
}
.body-container{
   
    background-color: rgb(244, 247, 255);
    width: 100vw;
    height: 100vh; 
    
    
    
}
.main-container{
    display: flex;
    width: auto;
    height: auto;
    display: flex;



}
.img-container_left{
    
    
  width: 420px;
  height: 100%;

}

.text1{
   
    
    font-family: Arial, Helvetica, sans-serif;
    
}

.text2{

   
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(91, 150, 226);


}

.text3{
    
    font-family: Arial, Helvetica, sans-serif;



}
.text4{

   
    font-family: Arial, Helvetica, sans-serif;
}